.imageRoot {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.searchBox {
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  display: block;
  font: inherit;
  font-size: 10vmin;
  font-weight: 700;
  padding: 0.25em 0.5em;
  width: 100%;
  z-index: 2;
}

.searchBox:focus {
  outline: 0.05em solid dodgerblue;
  outline-offset: -0.05em;
}
